@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #FEFCFB;
    font-family: 'Poppins', serif;
}

.navbar{
    padding: 30px;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.btn-signup {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    background-color: #FA7436;
    color: #FFFFFF;
    border: none;
}

.btn-login {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #FA7436;
    background-color: #FEFCFB;
    border: none;
}

.logo {
    margin-right: 100px;
}

/* hero*/

.hero h1  {
    font-size: 60px;
    font-weight: 700;
    font-style: 'Volkhov', serif;
    width: 521px;
    line-height: 70px;
    margin-top: 20px;

}

.hero span {
    color: #FA7436;
}

.hero p {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 400;
    line-height: 40px;
    width: 490px;
    margin-top: 20px;
    text-align: justify;
}

.hero-image {
    width: 550px;
}

.btn-discover {
    width: 178px;
    height: 60px;
    border: 1px solid #FA7436;
    border-radius: 5px;
    color: #FA7436;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}