* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #FEFCFB;
}

.navbar{
    padding: 30px;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.btn-signup {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    background-color: #FA7436;
    color: #FFFFFF;
    border: none;
}

.btn-login {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #FA7436;
    background-color: #FEFCFB;
    border: none;
}

.logo {
    margin-right: 100px;
}

/* hero*/
.title {
    font-family: "Volkhov", serif;
}

.hero h1  {
    font-size: 60px;
    font-weight: 700;
    font-style: "Volkhov", serif;
    width: 521px;
    line-height: 70px;
    margin-top: 20px;

}

.hero span {
    color: #FA7436;
}

.hero p {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 400;
    line-height: 40px;
    width: 490px;
    margin-top: 20px;
    text-align: justify;
}

.hero-image {
    width: 550px;
}

.btn-discover {
    width: 178px;
    height: 60px;
    border: 1px solid #FA7436;
    border-radius: 5px;
    color: #FA7436;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

/*formulario*/

form {
    display: flex;
    justify-content: space-around;
    
}

.container-option{
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}

.explore {
    padding: 50px;
}

.choose-travel {
    max-width: 1940px;
    margin: 50px auto;
    width: 841px;
    height: 124px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

#locations, #date, #guest {
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-weight: bold;
}

label {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
    color: #666666;
    width: 126px;
}

/*button*/
.explore input{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 21px;
    background-color: #FD8D3A;
    border-radius: 5px;
    width: 165px;
    border: none;
}

select {
    background-color: #FFFFFF;
    border: none;
}

/*advantages*/

.advantages{
    margin-top: 120px;
    margin-bottom: 120px;
}

.planes-adavantages {
    position: absolute;
    width: 179.9px;
    height: 130.73px;
    left: 990px;
}

.advantages h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    font-family: 'Volkhov';  
}

.advantages p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 470px;
    color: #666666;
    margin: 20px auto;
}

.card-img-top {
    width: 48px;
    height: 48px;
    margin-top: 40px;
    margin-left: 54px;
    margin-bottom: 48px;
}

.card {
    width: 370px;
    height: 278px;
    border: none;
  }
  

.card p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    width: 290px;
    color: #666666;
    margin-bottom: 37px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
  
}

.card-group {
    gap: 30px;
}

.card-title {
    margin-left: 40px;
}
